.button-section {
    margin-top: 2.85rem;
    float: right;
}

label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

// date field styling
.date-field {
    width: 50%;
    display: inline-block;
}